#userDiv{
    display: flex;
    align-items: center;
    height:8rem;
    
}
#userFoto{
    width: 10rem;
    height: 10rem;
    padding: 0.25rem;
    border-radius: 50%;
    overflow: hidden;
}
#userFoto > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#userInfo{
    display: inline-flex;
    flex-direction: column;
    justify-content: initial;
}
#userInfo > p{
    margin-top:0.1vw;
    margin-bottom:0.1rem;
    display: inline;
    width:auto;
    color:white;
}